$blue: #738fa2
$orange: #e6935e
$gray: #bdbdbd
$darkGray: #acacac
$darkerGray: #232323
$white: #fff
$border: 1px solid red
$border2: 1px solid blue

@keyframes rotation
  0%
    transform: translateX(-50%) rotate(359deg)
  100%
    transform: translateX(-50%) rotate(0deg)

*
  box-sizing: border-box

body
  height: 100vh
  width: 100vw
  margin: 0
  display: flex
  align-items: center
  justify-content: center

#walkman
  height: 26rem
  width: 18rem
  display: flex
  align-items: stretch
  border-radius: 5px
  background-color: $blue
  background: linear-gradient(left)

  #left
    width: 15rem
    display: flex
    flex-direction: column

    #top
      height: 4rem
      position: relative

      &:before
        content: ""
        position: absolute
        bottom: 100%
        right: 60%
        height: 0.5rem
        width: 2rem
        border-top-left-radius: 5px
        border-top-right-radius: 5px
        background-color: $orange

    #bottom
      height: 22rem
      display: flex
      flex-direction: column

      #sony
        height: 4rem
        border-top: $darkGray 1px solid

        img
          height: 1.6rem
          margin-top: 0.7rem
          margin-left: 1rem

      #bottomMid
        height: 14rem
        display: flex
        align-items: center
        justify-content: center

        #window
          width: 4.5rem
          height: 12rem
          border-radius: 8px
          display: flex
          align-items: center
          justify-content: flex-end
          background-color: $darkerGray

          #cassette
            height: 5rem
            width: 3.5rem
            position: relative
            background-color: $darkGray
            border-radius: 3px

            #spinny1,
            #spinny2
              content: ""
              position: absolute
              left: 50%
              display: block
              transform: translate(-50%)
              border-radius: 100%
              height: 2rem
              width: 2rem
              background-color: #776249
              animation: rotation 10s infinite linear

              .lines
                width: .3rem
                height: .5rem
                background-color: $darkGray
                transform: translate(1rem - (.3 / 2), .25rem)
                border-radius: 1px 1px 0 0

                &:before
                  content: ''
                  display: block
                  position: absolute
                  width: .3rem
                  height: .5rem
                  background-color: $darkGray
                  transform: translate(-.4rem, .8rem) rotate(240deg)
                  border-radius: 1px 1px 0 0

                &:after
                  content: ''
                  position: absolute
                  display: block
                  width: .3rem
                  height: .5rem
                  background-color: $darkGray
                  transform: translate(.4rem, .8rem) rotate(120deg)
                  border-radius: 1px 1px 0 0

              &:after
                content: ""
                display: block
                width: 1.5rem
                height: 1.5rem
                background-color: $darkerGray
                border-radius: 100%
                position: absolute
                left: 12.5%
                bottom: 12.5%
                z-index: -1

            #spinny1
              bottom: calc(100% + 0.5rem)

            #spinny2
              top: calc(100% + 0.5rem)

        #arrow
          width: 2rem
          height: 4rem
          margin-left: 1.5rem

          img
            height: 4.5rem

      #logo
        height: 4rem
        // border: $border2

        img
          height: 2.5rem
          margin-left: 2.5rem

  #right
    width: 3rem
    position: relative
    border-radius: 0 2px 2px 0
    background-color: $gray
    display: flex
    justify-content: center
    flex-direction: column

    #circle
      height: 0.8rem
      width: 0.8rem
      border-radius: 100%
      border: 1px $darkGray solid
      background-color: #e9e9e9
      margin-left: 0.5rem
      margin-top: 7rem

    &:before
      content: ""
      position: absolute
      top: 3rem
      left: 100%
      height: 6rem
      width: 0.25rem
      display: block
      border-radius: 0 2px 2px 0
      background-color: $darkGray
